
    <!-- Page Content -->
    <div class="container">

      <!-- Page ` -->
      <h1 class="my-4"style="color:brown; font-family:italics" >Shoulder Workout</h1>
      <p style="color:grey">"Focus , Don't stop when it hurts, stop when you're done. "</p>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2yjwXTZQDDI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Standing Barbell Press</h3>
          <p>The standing barbell shoulder press is an amazing exercise which targets a lot of muscle and increases the stability of your core.
             The most of the work is done by the front and side delts, then the rear delts, upper pectoral muscles,
              triceps and traps. Lower back muscles and abdominal muscles are also included in the movement as
               they help in stabilization</p>
          
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3VcKaXpzqRo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Side Dumbbell Lateral Raise</h3>
          <p> The side lateral raise is one of the few exercises that directly works the side head of the deltoid muscle
            . It is this side section of the muscle that is responsible for giving you broader shoulders.</p>
          
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-t7fuZ0KhDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Dumbbell Front Raise</h3>
          <p>Dumbbell front raises develop your anterior (frontal) shoulder muscles. Depending on your training volume,
             completing front raises can result in an increase in your shoulder muscular size or strength. Front raises
              are an isolation exercise, meaning they require movement around only one joint. Unlike when using front raises on a machine,
               completing front raises with dumbbells and while standing requires your core muscles to contract to
                keep you on balance.</p>
         
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">

        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/amCU-ziHITM" frameborder="0" 
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Upright Rows</h3>
          <p>The upright row is a great movement to increase the muscular size and strength of the shoulders,
             specifically the anterior and lateral heads of the deltoid.A narrow grip while doing Upright rows
             can be used to make more
            bigger traps.</p>
          
        </div>
        
      </div>

      <hr>

      <div class="row">

          <div class="col-md-7">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/NAqCVe2mwzM" frameborder="0"
               allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col-md-5">
            <h3>Barbell Shrugs</h3>
            <p>Barbell Shrugs are great way to make bigger trapezius (traps).the shrug is one of the most simplistic
               and easy exercises to perform. Being an isolation exercise, the shrug applies only the trapezius muscle
                and therefore is an extremely efficient exercise when
                 looking to target just the trapezius.</p>
           
          </div>
          
        </div>
      <!-- /.row -->

     