<!DOCTYPE html>
<html lang="en">

 

  <body>

    <!-- Navigation -->
   

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../../assets/images/bel.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading" style="
            padding-bottom: 9px;
            padding-top: 400px;
        ">
              <h1 >Motivation</h1>
              <span class="subheading">Past cannot be changed but future is yet in your hands</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <img src="../assets/images/onemore.jpg" height="400px" width="800px"/>
            <h3 style="color:#00aeef;font-family:'Times New Roman', Times, serif">Motivation</h3>
              <h6 class="post-title" style="font-size:20px">
                    If you love making gains and if you want to become better and stronger.
                    Then it has got to be ONE MORE REP..
              </h6>
             
        
            
          </div>
          <hr>
          <div class="post-preview">
                <img src="../assets/images/hard.jpg" height="400px" width="800px"/>
                <h3 style="color:#00aeef;font-family:'Times New Roman', Times, serif">Motivation</h3>
              <h2 class="post-title" style="font-size:20px">
                    “You don’t get the ass you want by sitting on it…”

              </h2>
            
          
          </div>
          <hr>
          <div class="post-preview">
             <img src="../assets/images/give.jpg" height="400px" width="800px">
             <h3 style="color:#00aeef;font-family:'Times New Roman', Times, serif">Motivation</h3>
              <h2 class="post-title" style="font-size:20px">
               Once you see result, It's become an addiction
              </h2>
              
            
           
          </div>
          <hr>
          <div class="post-preview">
                <img src="../assets/images/kai.jpg" height="400px" width="800px">
                <h3 style="color:#00aeef;font-family:'Times New Roman', Times, serif">Motivation</h3>
                <h2 class="post-title" style="font-size:20px">
                        "I really don't think I need buns of steel. I'd be happier with buns of cinnamon." 
                </h2>
             
            
            
          </div>
            
  <div class="adver">
    <h3 style=" text-align:center">Advertisment</h3>
    <div>
     <a href="https://wemakewebsites.com/best-jewellery-website-design-20-examples"> <img src="../assets/images/aju.jpg"/></a>
    </div>
    </div>
          <hr>
          <!-- Pager -->
         
        </div>
      </div>
    </div>

    <hr>
  

   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
