<section class="careers">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2 class="career-heading">WE ARE STRONGER WITH YOU</h2>
      <p>Whether you are an industry professional or interested in pursuing a dream to 
        make your passion for Fitness a meaningful reality, we want to help you Know Your Strength. </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="image-responsive" src="../../assets/images/careers.jpg" width="500px" height="400px">
    </div>
    </div>
    <div class="row lower">
      <div class="col-md-4">
        <img src="../../assets/images/careers1.jpg" width="400px;" >
        </div>
        <div class="col-md-8">
            <h2 class="text-center">OUR MANAGEMENT SYSTEM</h2>
            <p>Our General Manager Training Program is immersive, hands-on and prepares you to manage your very own Bulls Gym.
               From financial analysis to leading a team, we’ll equip you with the knowledge and skills you need to succeed 
                your new and exciting career in fitness. Your training will include real-time assignments and a designated coach 
                and mentor to help guide you along the way putting your learning to use immediately. No two days are the same at Bulls Gym, 
                so get ready for a rewarding adventure!  </p>
        </div>
    </div>
</section>