<!DOCTYPE html>
<html>

<body>

<div class="container gallery-container">

    <h1 >
        TRANSFORMATIONS </h1>

    <p class="page-description text-center">
        “It’s not about perfect. It’s about effort. And when you implement that effort into your life. Every single day, that’s where transformation happens. That’s how change occurs.
         Keep going. Remember why you started.” Anonymous</p>
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/park.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/1aVw1gZ9Ncg" 
                      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen poster="" controls></iframe>
                    </a>
                    <div class="caption">
                        <h3>Aamir Khan transformation</h3>
                        <p>"The filmmakers wanted me to first shoot the part where I was young and muscular, and then later gain weight for the later part of the film," Aamir tells in the video. "But I said, lets begin the other way round.
                           Because if I'm fat when I complete the film, I won't have any incentive to lose weight again.".</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/bridge.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/Nr0OJ7tu1Qw" frameborder="0"
                       allow="autoplay; encrypted-media" allowfullscreen poster="" controls></iframe>
                    </a>
                    <div class="caption">
                        <h3>Brix transformation</h3>
                        <p>
                            A passive approach to bodybuilding, or anything else for that matter, usually ends in failure. You got to keep yourself motivated.
                            1) "Pain is weakness leaving the body" 
                            2) "If you are going to be a champion, you must be willing to pay a greater price.
                            3) "Stay fit stay healthy"~Dr Ajay Sharma
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/tunnel.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/e4xwZuIAZJM" frameborder="0"
                       allow="autoplay; encrypted-media" allowfullscreen poster="" controls></iframe>
                    </a>
                    <div class="caption">
                        <h3>Biplab transformation</h3>
                        <p>No magic pills, no surgery, no short cuts. Just hard 
                          work a monumental lifestyle change and mind shift.Everyone can do that."You can motivate by fear, and you can motivate by reward. But both those methods are only temporary. The only lasting thing is self motivation."
                          </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/coast.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/xk4ofHNG3wM" frameborder="0"
                       allow="autoplay; encrypted-media" allowfullscreen poster="" contols></iframe>
                    </a>
                    <div class="caption">
                        <h3>Tom henry transformation</h3>
                        <p> "The last three or four reps is what makes the muscle grow. This area of pain divides the champion from someone else who is not a champion. That's what most people lack, having the guts to go on and just say they'll go through the pain no matter what happens." ~ Arnold Schwarzenegger</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/rails.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/68ZvZQZlHws" frameborder="0"
                       allow="autoplay; encrypted-media" allowfullscreen poster="" controls></iframe>
                    </a>
                    <div class="caption">
                        <h3>Bob builder</h3>
                        <p> "You have to do what others won't, to achieve what others don't."
                             "The medals don't mean anything and the glory doesn't last. It's all about your happiness. The rewards are going to come, but my happiness is
                             just loving the sport and having fun performing." ~ Jackie Joyner Kersee ."No pain no gain, know pain know gain"</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../images/traffic.jpg">
                      <iframe width="323" height="315" src="https://www.youtube.com/embed/hLtxKNgBzUg" frameborder="0" 
                      allow="autoplay; encrypted-media" allowfullscreen poster="" controls></iframe>
                    </a>
                    <div class="caption">
                        <h3>Never Ever give up</h3>
                        <p> "I hated every minute of training, but I said, "Do
                          n't quit. Suffer now and live the rest of your life as a champion." ~ Muhammad Ali
                           "Success is the result of perfection, hard work, learning from failure, loyalty
                           , and persistence.""Never say never always say ever,you can do it ".Never be satisied common get up  </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>