
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4"style="color:brown; font-family:italics" >Biceps Workout</h1>
      <p style="color:grey">"Beast is what i become each and everytime i step through those gym doors."</p>
    

      <div id="demo" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/bicpes1.jpg" alt="Los Angeles" width="100%"height="500" class="crouselimage">
              <div class="carousel-caption">
               
                <p class='carousel-p'>Wake Up Determined, Go To Bed Satisfied</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/bicpes.jpg" alt="Chicago" width="100%" height="500">
              <div class="carousel-caption">
                
                <p class='carousel-p'>It's You vs You</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/bicpes3.jpg" alt="New York" width="100%"height="500">
              <div class="carousel-caption">
                
                <p class='carousel-p'>Blood, Sweat and Respect,<br>First two you give ,last one you earn</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7tOGsKD3-cM" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Inclind Dumbbell Curl(long head)</h3>
          <p>When you perform the incline dumbbell curl, your arms move behind your body. This stretches the long head of the biceps, which runs over the shoulder joint. ... Since the long head of the biceps
             makes up the mass of the biceps peak, the incline curl is an effective exercise for building the biceps peak.</p>
          <a class="btn btn-primary" href="#">View More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ebqgIOiYGEY" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Concentration Curl Brachialis (outside part of biceps)</h3>
          <p>Dumbbell Concentration Curl is an isolation movement exercise with the main
             purpose to peak your arm's biceps, especially the Brachialis (outside part of biceps).
               Dumbbell concentration curls can be done in a variety of ways: sitting, standing or in a kneeling position.
                The movement is typically used as an finishing exercise to work the "peak" of the biceps and give gym goers the final "pump" before leaving the gym and "hitting the streets"!

            </p>
          <a class="btn btn-primary" href="#">View More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">

        <div class="col-md-7">
            <iframe width="500" height="315" src="https://www.youtube.com/embed/SvHk7oc00jE" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        <div class="col-md-5">
          <h3>Preacher Curl(short head)</h3>
          <p>When you perform the incline dumbbell curl, your arms move behind your body. This stretches the long head of the biceps, which runs over the shoulder joint. ...
             This makes the preacher curl a poor exercise for building the biceps peak, but a good exercise for building the inner biceps.</p>
          <a class="btn btn-primary" href="https://www.youtube.com/" target="_blank">View More</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row">

        <div class="col-md-7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zG2xJ0Q5QtI" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
          <h3>Biceps barbbell Curl(long head+short head)</h3>
          <p>EXERCISE (EZ-Bar Curl). It engages both the short and long heads of the biceps muscle and for some people it's a lot more comfortable on 
            the joints and forearms than a straight bar.</p>
          <a class="btn btn-primary" href="#">View More</a>
        </div>
      </div>
      <!-- /.row -->
