<!-- Page Content -->


    <div class="container">
      
        <h1 class="my-4" >Back Workout</h1>
        <p style="color:grey">"Look in the mirror, that's your competition"</p>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/images/back5.jpg" alt="Los Angeles" width="100%"height="500" class="crouselimage">
                <div class="carousel-caption">
                 
                  <p class='carousel-p'>Wake Up Determined, Go To Bed Satisfied</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../assets/images/back3.jpg" alt="Chicago" width="100%" height="500" class="crouselimage">
                <div class="carousel-caption">
                  
                  <p class='carousel-p'>It's You vs You</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../assets/images/back6.jpg" alt="New York" width="100%"height="500" class="crouselimage">
                <div class="carousel-caption">
                  
                  <p class='carousel-p'>Blood, Sweat and Respect,<br>First two you give ,last one you earn</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
  <!-- Page Heading -->
 
 

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CAwf7n6Luuc" frameborder="0"
         allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Lats pulldown</h3>
      <p>The pulldown exercise is a strength training exercise designed to develop the latissimus dorsi muscle.
         It performs the functions of downward rotation and depression of the scapulae combined with adduction and extension of the shoulder joint.</p>
     
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lQRsYgRafA8" frameborder="0"
         allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>DeadLift</h3>
      <p>The deadlift is a strength exercise that works several muscle groups, including your back, glutes
         and legs. It is one of only a handful of exercises that target muscles in the upper and lower body. Performing a deadlift with good form is imperative to reduce the risk of injury, particularly to the low back.
      </p>
      
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vT2GjY_Umpw" frameborder="0"
         allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Bentover Barbell Rows</h3>
      <p>Bentover Barbell Rows are a full body, compound exercise. They work your upper-back, lower back, hips
         and arms. They build a stronger, muscular back and bigger biceps. Barbell Rows are one of the most effective assistance exercises you can do to increase your Squat, Bench Press and Deadlift.</p>
      
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GZbfZ033f74" frameborder="0" 
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Cable Rows</h3>
      <p>The leg extension is an isolated exercise targeting one specific muscle group, the quadriceps.
          The exercise consists of bending the leg at the knee and extending the legs, then lowering them back to the original position.
      </p>
    
    </div>
    
  </div>

  <hr>

  <div class="row">

      <div class="col-md-7">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pYcpY20QaE8" frameborder="0"
           allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-md-5">
        <h3>Bent-over Single Dumbbell Rows</h3>
        <p> the bent over dumbbell row is one of the most versatile compound exercises for your back. The 
          row helps in developing thickness through the upper and middle back that’s difficult to with through
           deadlifting and other rowing movements. The movement also core stabilization exercise.
            The row is typically intended to work the latissimus dorsi, rhomboids, lower traps, and erector
             spinae. It also requires work from the rotator cuff for weight stabilization.
        </p>
       
      </div>
      
    </div>
  <!-- /.row -->
