<div class="container">
  <div class="background">
    <div class="imgcontainer">
      <img src="../assets/images/icon.jpg" alt="Gym-icon" class="avatar">
    </div>
    
    <h1 class="display-4">Login</h1>
    <hr>
    <div class="form-group">
      <label for="email">
        <b>E-mail</b>
      </label>
      <input class="form-control" type="email" placeholder="Enter Email" name="email" required>

      <label for="psw">
        <b>Password</b>
      </label>
      <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>

    </div>
  </div>
</div>