.careers{
    margin-top:80px;

}

.row{
    margin-right:0px;
}
h2{
    font-family: Impact, Charcoal, sans-serif;
}

.career-heading{
 
padding-top:100px;

}


.careers p{
    padding:20px 50px;
    font-family: ProximaNovaExCnBold, sans-serif;
}

.lower{
    margin:60px 50px;

}

.lower .col-md-4{
    padding-left:0px !important;
}
#bottom{
    margin-top:0px !important;
    height:300px;
    width:900px;
    margin-left:230px;
  
  }