body{
    background-color:#f0f0f5; 
  }


footer{
  background-color:#1e2f2f;
  color:white;
}

.footer-copyright{
    background-color:#324e4e; 
}

.navbar{
  height:80px;
  font-size:20px;
  background-color:#1e2f2f;
}
.heading{
  margin:10px 560px;
 
}

.navbar-brand{
  margin-left:20px;
  font-size:30px;
  letter-spacing: 3px;
  
}


.col-md-2 a:hover{
  text-decoration: none;
}

.form-control{
  width:300px;
  margin:0px auto;
}

.col-md-4{
  margin-top:20px;
}

