
.container{
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
}

@font-face{
  font-family:'Bulls';
  src:url("../assets/fonts/TwoPeaks.ttf");
}

footer{
  margin-top:0px !important;
  background-color:#1e2f2f;
  color:white;
}

.footer-copyright{
    background-color:#324e4e; 
}

.navbar{
  
  font-size:20px;
  background-color:#1e2f2f;
}

.nav-item{
  margin-left:30px;
}

.heading{
  margin:10px 560px;
 
}


.navbar-brand{
  margin-left:30px;
  font-size:30px;
  letter-spacing: 3px;
  font-family:"Bulls";
  
}

.navbar-brand:hover{
  color:white !important  ;
}

.navbar-collapse{
  background-color:#1e2f2f;
}

.login{
  display:inherit;
  margin-left:180px;
}
.col-md-2 a:hover{
  text-decoration: none;
}

.form-control{
  width:300px;
  margin:0px auto;
}

.col-md-4{
  margin-top:20px;
}


  nav a:hover {
    color:brown;
    
  }


  .active a{
    margin:0px;
  }

  .dropdown-menu{
    left:-93px;
  }
  
  @media (min-width:768px) and (max-width:1012px){
    .navbar-expand-md{
      padding:5px;
      font-size:15px;
    }

    .navbar-collapse{
      padding:5px;
      left:40px;
    }

    .nav-item{
      margin-left:10px;
    }

    .navbar-expand-md .navbar-nav{
      margin-left:20px;
    }

    .navbar-brand{
      font-size:20px;
    }

    
  }

  @media(max-width:768px){
    .img-responsive{
      margin-left:20px!important;
    }

    .navbar-brand{
      margin-left:10px !important;
    }
  }

 
  .img-responsive{
    margin-left:50px;
  }