<body>


  <nav class="navbar fixed-top navbar-expand-md navbar-dark">
    <img class="img-responsive" src="../assets/images/icon.jpg" width='90px' height="70px" >
    <a class="navbar-brand" href="#">Bulls Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" syt>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Exercises
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/exercises/chest" routerLinkActive="active">Chest</a>
            <a class="dropdown-item" routerLink="/exercises/shoulder" routerLinkActive="active" style="margin:0px;">shoulder</a>
            <a class="dropdown-item" routerLink="/exercises/biceps" routerLinkActive="active">Biceps</a>
            <a class="dropdown-item" routerLink="/exercises/triceps" routerLinkActive="active">Triceps</a>
            <a class="dropdown-item" routerLink="/exercises/back" routerLinkActive="active">Back</a>
            <a class="dropdown-item" routerLink="/exercises/legs" routerLinkActive="active">Legs</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/products' routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Gallery
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/gallery/motivation" routerLinkActive="active">Motivation's</a>
              <a class="dropdown-item" routerLink="/gallery/transformation" routerLinkActive="active" style="margin:0px;">Transformation's</a>
             
            </div>
          </li>
       
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-user-circle white-text"> </i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item" *ngIf="!authservice.loggedIn()">
                    <a class="nav-link" href="#" id="nav-login" routerLink="/login" style="color:black">Login</a>
                </li>
                <li class="nav-item" *ngIf="!authservice.loggedIn()">
                    <a class="nav-link" routerLink="/signup" id="nav-login" style="color:black">SignUp</a>
                </li>
                <li class="nav-item" *ngIf="authservice.loggedIn()">
                    <a class="nav-link" routerLink="/profile" id="nav-login" style="color:black">Profile</a>
                </li>
                <li class="nav-item" *ngIf="authservice.loggedIn()">
                  <a class="nav-link" routerLink="/dashboard" id="nav-login" style="color:black">Dashboard</a>
              </li>
                <li class="nav-item" *ngIf="authservice.loggedIn()">
                    <a class="nav-link"  id="nav-login" style="color:black" (click)="logoutSubmit()" >Logout</a>
                </li>
            </div>
          </li>

      </ul>

    </div>
  </nav>
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>


  <!-- Footer -->
  <footer class="page-footer font-small indigo mt-4">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/about-us">About us</a>
          </h6>
        </div>

      

        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/careers">Careers</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact-us">Contact Us</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;background-color:#324e4e">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem"></p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="d-flex justify-content-center">

            <!-- Facebook -->
            <a class="fb-ic" href="#">

              <i class="fab fa-facebook fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="#">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="#">
              <i class="fab fa-google-plus fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="#">
              <i class="fab fa-linkedin fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="#">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="#">
              <i class="fab fa-pinterest fa-lg white-text"> </i>
            </a>

          </div>

        </div>

      </div>

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright Bulls Gym

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>