<section class="bg-light" id="team">
        <img src="../../../assets/images/aboutUs.png" width=100% height="600px;" >    
    <div class="upper">
            <div class="row">
                
                <div class="col-md-12 text-center">
                    <h2>About Us</h2>
                </div>
                <div class="col-md-12">
                    <p>
                            Your transformation is our passion. We are your
                             personal trainer, your nutritionist, your supplement expert,
                              your lifting partner, your support group. We provide the technology,
                               tools, and products you need to burn fat, build muscle, and become your best self.
                    </p>
                </div>
            </div>
        </div>
        <div class="values">
            <div class="layer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Core Values</h2>
                    </div>
                    <div class="wrap">
                    <div class="col-md-12 content">
                        <p>
                                THESE CORE VALUES UNITE US AND REMIND US WHAT'S IMPORTANT<br>
                        </p>
                        <p> 1.ALWAYS BE TRUTHFUL AND HONEST IN EVERY ASPECT OF BUSINESS<br>
                            2.GIVE BACK TO THE PEOPLE TO WHOM YOU OWE YOUR SUCCESS<br>
                            3.SETTING GOALS CREATES THE ROADMAP TO POSITIVE GAINS<br>
                            4.GREAT THINGS WILL HAPPEN WITH A PASSION FOR COMPETITION<br>
                            5.IT’S OUR GOAL TO MAKE THE BIG IDEA BIGGER<br>
                            6.OUR MISSION IS NOT COMPLETE UNTIL THE CUSTOMER SAYS “WOW”<br>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container team">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../assets/images/ajay.JPG" alt="">
                <h4>Ajay Sharma</h4>
                <p class="text-muted">Designer</p>
                <ul class="list-inline social-buttons">

                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/profile.php?id=100004096923942">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../../assets/images/anoop.jpg" alt="">
                <h4>Rishabh Sharma</h4>
                <p class="text-muted">Designer</p>
                <ul class="list-inline social-buttons">
                  
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/rishabh.sharma.1110">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/rishabh-sharma10/">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="../../assets/images/sangram.jpg" alt="">
                <h4>Sumit Arora</h4>
                <p class="text-muted">Developer</p>
                <ul class="list-inline social-buttons">
                  
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  