<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4"style="color:brown; font-family:italics" >Legs Workout</h1>
  <p style="color:grey">"It never gets easier, You just get better"</p>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SW_C1A-rejs" frameborder="0"
       allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Squats</h3>
      <p>The squat, known as the granddaddy of all bodybuilding exercises, simultaneously works more major muscles than any other resistance-training movement. 
        Squats predominately work your butt (glutes) and thighs (hamstrings and quadriceps) but abs,
         obliques, lower back, calves, and the ankle complex all play supportive roles. Depending on
          what type of weight you’re using, how you’re holding it, and what squat variation you’re doing,
           it can end up being a total body exercise.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IZxyjW7MPJQ" frameborder="0"
       allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Leg Press Machine</h3>
      <p> The leg press exercise increases lower body muscular strength and muscular endurance.
       They are useful for people who want to isolate a specific muscle, in this case the quads, hamstrings and glutes. That’s because the fixed movement of the machine doesn’t require the stabilising muscles – nearly always the weak link that limits the amount of weight that can be moved – so you can lift heavy in the safest possible way to maximise muscle growth.
      </p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/q1cKTmaeQWo" frameborder="0" 
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Leg Curls</h3>
      <p>The leg curl, also known as the hamstring curl, is an isolation exercise that targets the
         hamstring muscles. The exercise involves flexing the lower leg against resistance towards the buttocks.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YyvSfVjQeL0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Leg Extensions</h3>
      <p>The leg extension is an isolated exercise targeting one specific muscle group, the quadriceps.
          The exercise consists of bending the leg at the knee and extending the legs, then lowering them back to the original position.
      </p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
    
  </div>

  <hr>

  <div class="row">

      <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KcjAzSf9QEw" frameborder="0"
         allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-md-5">
        <h3>Calf Raises</h3>
        <p>Calf raises are a method of exercising the gastrocnemius, tibialis posterior and soleus muscles of the lower leg. The movement performed is plantar flexion, a.k.a. ankle extension.</p>
        <a class="btn btn-primary" href="#">View Project</a>
      </div>
      
    </div>
  <!-- /.row -->

