
<div class="container">
  <h1 class="display-4">SignUp</h1>
  <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text"  required class="form-control">
      </div>
      
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Phone no.</label>
        <input type="number" class="form-control">
      </div>
      
      <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control">
      </div>

      <div class="form-group">
        <input type="radio" class="form-control-input"  value="male" name="sex">Male 
        
      </div>
      <div class="form-group">
        
          <input type="radio" class="form-control-input" value="Female" name="sex">Female
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
             <button type="submit" onclick="alert('Successfull');">Submit</button>
            </div>

  </form>
</div>
