body {
  padding-top: 54px;
  background-color:#f0f0f5; 
}
h1{
  font-family: Impact, Charcoal, sans-serif;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.head{
  margin-top:80px;
  padding-top:15px;
  padding-bottom:40px;
  background: linear-gradient(to right, #0094cb 0%, #00aeef 50%, #0094cb 100%);
  margin-bottom:0px;
}

.head p{
  margin-bottom:0px;
}
.container{
  margin-top:0px;
 
}
.my-4{
    margin-top:40px !important;  
}

.image{
  margin:20px;
}
.carousel-inner{
  margin-bottom:40px;
}