<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4"style="color:brown; font-family:italics" >Chest Workout</h1>
  <p style="color:grey">"If you still look cute at the end of your workout, you didn't train hard enough."</p>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rT7DgCr-3pg" 
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen poster="../assets/images/dumbbell_fly.jpg" controls></iframe>
    </div>
    <div class="col-md-5">
      <h3>Chest Barbell Press</h3>
      <p>The barbell bench press is an upper body pressing drill that builds size and strength in the upper body, 
        specifically in the chest, triceps, and shoulders. ... Lie on your back on a bench. Grasp a barbell with an overhand grip just wider 
        than shoulder-width apart and hold it above your chest with your arms fully extended.</p>
     
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eozdVDA78K0" 
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Dumbbell Fly</h3>
      <p>A dumbbell fly also targets the muscles in your chest. Both your pectoralis minor and major work hard when you are doing a dumbbell fly. Your pectorals start in the middle 
        of your chest and run out toward your shoulder and upper arm</p>
      
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SHsUIZiNdeY" 
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Inclind Dumbbell Press</h3>
      <p>The incline dumbbell bench press is an upper-body strengthening exercise that targets the chest, shoulder, and triceps. The inclined position increases the exercise's emphasis on the upper chest and shoulders. ... Lo
        wer both dumbbells to the sides of your chest.</p>
     
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LfyQBUKR8SE"
         frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h3>Declind barbbell press</h3>
      <p>Benefits of the Decline Bench Press. The first benefit of the decline bench press is that it targets the lower portion of your chest better than the flat bench as well as the incline bench.
         This is extremely important if you really want your chest to be round, wide, and defined.</p>
      
    </div>
  </div>
