body {
  padding-top: 54px;
  background-color:#f0f0f5; 
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.container{
  margin-top:24px;
}
.my-4{
    margin-top:40px !important;  
}

.image{
  margin-bottom:20px;
}
.crouselimage{
  margin:40px;
}