
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
    border-radius:60px;

  }
  .card-image-top{
    margin-top:0px;
    
  }
  .card-body{
     background:linear-gradient(white,grey);
  }
  body{
    background-color:#f0f0f5; 
  }

  .carousel-inner img {
    width: 100%;
    height: 500px;
    margin-top:0px;
}

footer{
  background-color:#1e2f2f;
  color:white;
  
}

.footer-copyright{
    background-color:#324e4e; 
}

.navbar{
  height:80px;
  font-size:20px;
  background-color:#1e2f2f;
}
.heading{
  margin:10px 400px;
 
}

.navbar-brand{
  margin-left:20px;
  font-size:30px;
  letter-spacing: 3px;
  
}

.carousel-p{
  color:white;
  font-size:30px;
  font-weight: bold;
}

.col-md-2 a:hover{
  text-decoration: none;
}

.container-bmi{
  margin:30px;
  text-align:center;
}

.container-bmi form{
  margin:20px auto;
  padding:30px; 
 
}

.form-control{
  width:300px;
  margin:0px auto;
}

.col-md-4{
  margin-top:20px;
}

.bmi{
  width:100%;
}

.col-md-6 img{
  margin-top:0px;
  border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

/*artical css*/

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 30px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}
.brand{
  margin-top:40px;
}
.adver{
  padding-top:30px;
}


@media(min-width:768px) and (max-width:832px){
  img{
    width:300px;
  }
}

.img{
  margin-top:55px;
}
.ajay{
  border-radius:70%;
  height:160px;
  width:160px;
}
