
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }
  .card-image-top{
    margin-top:0px;
  }
  body{
    background-color:#f0f0f5; 
  }

  .carousel-inner img {
    width: 100%;
    height: 500px;
    margin-top:0px;
}

footer{
  background-color:#1e2f2f;
  color:white;
}

.footer-copyright{
    background-color:#324e4e; 
}

.navbar{
  height:80px;
  font-size:20px;
  background-color:#1e2f2f;
}
.heading{
  margin:10px 400px;
 
}

.navbar-brand{
  margin-left:20px;
  font-size:30px;
  letter-spacing: 3px;
  
}

.carousel-p{
  color:white;
  font-size:30px;
  font-weight: bold;
}

.col-md-2 a:hover{
  text-decoration: none;
}

.container-bmi{
  margin:30px;
  text-align:center;
}

.container-bmi form{
  margin:20px auto;
  padding:30px; 
 
}

.form-control{
  width:300px;
  margin:0px auto;
}

.col-md-4{
  margin-top:20px;
}

.bmi{
  width:100%;
}

.col-md-6 img{
  margin-top:55px;
}

@media(min-width:768px) and (max-width:832px){
  img{
    width:300px;
  }
}