<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/Rock.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
       
        <p class='carousel-p'>Wake Up Determined, Go To Bed Satisfied</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/slide-1.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        
        <p class='carousel-p'>It's You vs You</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/Banner.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        
        <p class='carousel-p'>Blood, Sweat and Respect,<br>First two you give ,last one you earn</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div style="background-color:white;padding:60px">
<div style="text-align:center;font-family:'Lucida Sans', 'Lucida Sans Regular', 
'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top:20px">
    <h1>Find your next workout plan</h1>
    <p style="font-size:20px">What's your goal !</p>
  </div>
<div class="row" style="margin-bottom:20px;">
 
  <div class="col-md-2">
  <a href="">
    <img src="../assets/images/ches1.jpg" alt="" class="ajay"/>
  </a>
  <h5>Chest Workout</h5>
  </div>
  <div class="col-md-2">
      <a href="">
          <img src="../assets/images/shou1.jpg" alt="" class="ajay"/>
        </a>
        <h5>Shoulder Workout</h5>
    </div>
    <div class="col-md-2">
        <a href="">
            <img src="../assets/images/bic1.jpg" alt="" class="ajay"/>
          </a>
          <h5>Biceps Workout</h5>
      </div>
      <div class="col-md-2">
          <a href="">
            <img src="../assets/images/tri.jpg" alt="" class="ajay"/>
           
            </a>
            <h5>Triceps Workout</h5>
        </div>
        <div class="col-md-2">
            <a href="">
                <img src="../assets/images/bac.jpg" alt="" class="ajay"/>
              </a>
              <h5>Back Workout</h5>
          </div>
          <div class="col-md-2">
              <a href="">
                  <img src="../assets/images/leg.jpg" alt="" class="ajay"/>
                </a>
                <h5>Legs Workout</h5>
            </div>

</div>
</div>

<div class="container-bmi">
    
    <div class="row">
        <h2 class="bmi">
            BMI (Body Mass Index)
          </h2>
      <div class="col-md-6">
   
    <form><div class="form-group">
      <label>Height (in cms)</label> 
      <input type='number' class='form-control' placeholder="Height"><br>
      </div>
      <div class="form-group">
      <label>Weight (in kgs)</label>
      <input type="number" class='form-control' placeholder="Weight"><br>
      </div>

      <button type='submit' class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <img class="img-responsive"src="../assets/images/bmi.jpg" width="400px">
  </div>
</div>
</div>
<div class="container gallery-container">

    <h1>Newest Articles</h1>

    <p class="page-description text-center">Eat healthy Food And Stay Younger</p>
    
    <div class="tz-gallery">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                    <img src="../assets/images/artical1.jpg" alt="Park">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">3 Reasons to Fire Up the Grill on the 4th of July</h4>
                <p>Planning your next cookout? This time, skip the beef burgers and try something new! 
                  Experience the thrill of the grill with these red-hot recipes.</p>
               
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/bridge.jpg">
                    <img src="../assets/images/artical2.png" alt="Bridge">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">5 Delicious Protein Smoothies For Every Part Of The Day
                  </h4>
                <p>Protein isn't just for around a workout. Use these recipes to get a blast of protein and nutrition whenever you need </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="../images/tunnel.jpg">
                    <img src="../assets/images/artical3.jpg" alt="Tunnel">
                </a>
                <h4 style="color:#00aeef">Meal Planning</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">Eat Like This And Grow Forever</h4>
                <p>It's easy to get overwhelmed by all the complicated diets available these days. This simple but effective balanced-macro approach can serve as a foundation of a nutrition plan that's just right for you.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/coast.jpg">
                    <img src="../assets/images/artical4.jpg" alt="Coast">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">Get Uplifted With This Squat Workout From Meg Squats!</h4>
                <p>Take your body and your training to a new level with this lower-body workout from powerlifter, fitness model, and YouTube star Meg Squats. If you've ever felt the urge to see how strong you can be, this is for you!.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rails.jpg">
                    <img src="../assets/images/artical5.jpg" alt="Rails">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">Supplement Company of the Month: Muscle Beach Nutrition</h4>
                <p>It started as a place where bodybuilders could come together and share equipment, knowledge, and suntan lotion. Today, it's a state of mind that has found its way into a superior product line used by athletes around the world.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/traffic.jpg">
                    <img src="../assets/images/artical6.jpg" alt="Traffic">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">4 Musts To Maximize Biceps Growth</h4>
                <p>Stretch your sleeves and grow your arms by mastering these muscle-building essentials.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rocks.jpg">
                    <img src= "../assets/images/artical7.jpg"alt="Rocks">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">4 Reasons Why Caffeine Makes Workouts Better</h4>
                <p>Caffeine is more than just a pick-me-up. Learn how it can improve your lifts and enhance your results every time you hit the gym.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/benches.jpg">
                    <img src="../assets/images/artical8.jpg" alt="Benches">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">Uplifted: Build Muscle And Strength With Meg Squats</h4>
                <p>Planning your next cookout? This time, skip the beef burgers and try something new! Experience the thrill of the grill with these red-hot recipes.

                    .</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/sky.jpg">
                    <img src="../assets/images/artical9.png" alt="Sky">
                </a>
                <h4 style="color:#00aeef">Recipes</h4>
                <h4 style="font-size:19px;font-family:'Times New Roman', Times, serif">The Ultimate Summer Booty Workout
                  </h4>
                <p>Not willing to bare your backside in your new bikini? IFBB pro Caryn Nicole Paolini has
                   a booty-sculpting workout to get you ready for summer in no time!</p>Planning your next cookout? This time, skip the beef burgers and try something new! 

            </div>
        </div>

    </div>

</div>



<!-- Page Features -->
<div class="heading">
  <marquee><h2>Fitness Model's</h2></marquee>
</div>
<div class="row text-center" style="margin-top:0px; margin-right: 0px">
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../assets/images/GuruMann1.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">Guru Mann(Indian)</h4>
        <p class="card-text">
          Guru Mann is Muscle Building & Fat Loss Expert. He is a Professional Fitness Model, Certified Advanced Fitness Trainer, 
          Certified Nutrition Specialist and Certified Strength & Conditioning Specialist from San Francisco, California.
           He has been modeling and working out for last 16 years.
          
          
          </p>
      </div>
     
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../assets/images/arnold.png" alt="" height="203px;">
      <div class="card-body">
        <h4 class="card-title">Arnold Schwarzenegger</h4>
        <p class="card-text">Schwarzenegger began weight training at the age of 15. 
          He won the Mr. Universe title at age 20 and went on to win the Mr. Olympia contest seven times,
           remaining a prominent presence in bodybuilding and writing many books and articles on the sport.
          He is living legend in the bodybuilding industry.</p>
      </div>
      
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../assets/images/anoop.jpg" alt="Error402" height="203px">
      <div class="card-body">
        <h4 class="card-title">Anoop Singh(Indian)</h4>
        <p class="card-text">Thakur Anoop Singh (born 23 March 1989) is an Indian actor and fitness model.
           In 2015 he has won Mr. India Fit Factor award.He has also won (49th Asian Championship - Uzbekisthan).
           He is living legend in fitness industry.He play's vital role in his career just like (Actor, athlete, pilot, playback singer).
      </div>
     
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="../assets/images/sangram.jpg" alt=""height="203px">
      <div class="card-body">
        <h4 class="card-title">Sangram Chougule(Indian)</h4>
        <p class="card-text">
        Sangram Chougule is an Indian bodybuilder from Chinchwad, Pune. He won the title of Mr. Univ
            erse at the WBPF World Championship[3] in 2012 and 2014 in the 85 kg category.  Sangram won the Mr. India title six times and Mr. Maharashtra five times.He is living legend.
          </p>
      </div>
      
    </div>
  </div>

</div>
 
<div class="container" style="background-color: #fff; border-radius:12px">
    <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:40px ;text-align:center">Top Brands</h2> 
    <h5 style="color:#00aeef; text-align:center">"Your brand is what other people say about you when you're not in the room"</h5>
    <div class="row">
        <div class="col-sm-4"><img src="../assets/images/brand1.jpg" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
        <div class="col-sm-4"><img src="../assets/images/brand2.jpg" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
        <div class="col-sm-4"><img src="../assets/images/brand3.png" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
      </div>
    <div class="brand">
      <div class="row">
          <div class="col-sm-4"><img src="../assets/images/brand4.png" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
          <div class="col-sm-4"><img src="../assets/images/brand5.jpg" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
          <div class="col-sm-4"><img src="../assets/images/brand6.jpg" class="img-circle" alt="Cinque Terre" width="290" height="200"></div>
        </div>
   </div>
  </div>

  <div class="adver">
  <h4 style=" text-align:center">Advertisment</h4>
      <p style="text-align:center"><img src="../assets/images/adver.jpg" alt="Gym-icon"></p>
    </div>


<!-- /.row -->


